[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"

[packages]
pytest-helm-charts = "==1.1.1"
pytest = ">=7.4.0"
pykube-ng = ">=22.0"
pyyaml = ">=5.4.1"
pytest-rerunfailures = ">=12.0"
exceptiongroup = "*"

[requires]
python_version = "3.9"
